@include media-sm {
    body {
        main {
            .social-icons {
                bottom: 1rem;
                left: 1rem;
                
                a {
                    padding: 0.4rem;
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
        footer {
        font-size: 1rem;
        right: 1rem;  
        }
    }
    .home {
        &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        }

        h1 {
            font-size: 1.5;
        }

        h2 {
        font-size: 1.5rem;
        }   
    }
    .contact {
        padding-top: 35vh;

        h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        }
        
        &__list {
        grid-gap: 2rem;
        font-size: 1.5rem;
        }
    }
}

@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio {
        font-size: 1.5rem;
        width: 70%;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
        .contact__phone {
            padding-left: 3rem;
        }
    }
}

@include media-xl {
    .about__bio-image {
        // height: 55vh;
    }
    .projects__bio-image {
        // height: 45vh;   
    }
}

