.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(
            to right,
            rgba($primary-color, 0.7),
            rgba($primary-color, 0.3)
        ), 
        url('../../img/home1.jpg') center right 40%;
    background-size: cover;

    &__name {
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid set-text-color($primary-color);

        &-last {
            color: $secondary-color;
            font-weight: 700;
        }
    }

    h2 {
        font-size: 1.3rem;
    }

    i {
        font-size: 1.5rem;
    }
}