@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    
}

main {
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 0.5rem;

        a {
            padding: 0.3rem;
            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

footer {
    font-size: 0.9rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}

::-webkit-scrollbar{
    width: 8px;
    &-thumb {
        border-width:1px 1px 1px 2px;
        border-color: #555;
        background-color: #777; 
        border-radius: 15px;
        &:hover {
            border-width:1px 1px 1px 2px;
            background-color: $secondary-color;
        }
    }
    &-track {
        border-width:0;
    }
}

